node_modules
.DS_Store
.yarn

/packages/contracts/src/codegen/
/packages/client/Assets/Scripts/codegen/
/packages/client/Assets/Scripts/codegen.meta
/packages/client/Assets/Scripts/IWorld/
/packages/client/Assets/Scripts/IWorld.meta
/packages/client/Assets/Resources/latest.json
/packages/client/Assets/Resources/latest.json.meta
/packages/client/Assets/Resources/MUD
