[submodule "packages/client/Packages/studio-mud"]
	path = packages/client/Packages/studio-mud
	url = https://github.com/engine-study/studio-mud.git
[submodule "packages/client/Packages/studio"]
	path = packages/client/Packages/studio
	url = https://github.com/engine-study/studio.git
[submodule "packages/client/Packages/UniMUD"]
	path = packages/client/Packages/UniMUD
	url = https://github.com/emergenceland/UniMUD.git
