node_modules
.DS_Store
.yarn
.env

/packages/contracts/src/codegen/
/packages/client/Assets/Scripts/IWorld/
/packages/client/Assets/Scripts/IWorld.meta
/packages/client/Assets/Resources/latest.json
/packages/client/Assets/Resources/latest.json.meta
